<template name="newPoll">
<div class="text-center">
    {{#if reactiveVarEquals 'creatingPoll' false}}
		<button class="btn btn-default" data-action="open-new-poll-input">Create New Poll</button>
    {{/if}}
    {{#momentum plugin='slide-height-fade'}}
        {{#if reactiveVarEquals 'creatingPoll' true}}
            <div class="new-poll-dialogue">
				<h4>Create New Poll</h4>
				{{#if currentUser}}
				<div class="row">
					<input id="newPollTitle" type="text" placeholder="Poll Title"/>
				</div>
				<div class="row">
					<textarea id="newPollDescription" placeholder="Description of what we're voting on"></textarea>
				</div>
		
				<div class="row" id="add-option" style="margin-bottom: 10px">
					<button id="btn-add" class="btn btn-default" data-action="add-option-one">Add a voter's option</button>
				</div>

				<div class="row">
					<input style="display: none; width: 90%; margin-bottom: 10px;" id="newPollOption1" type="text" placeholder="Poll Voter's Option"/>
				</div>

				<div class="row" id="add-option-two" style="display: none; margin-bottom: 10px">
					<button id="btn-add-two" class="btn btn-default" data-action="add-option-two">Add another voter's option</button>
				</div>

				<div class="row">
					<input style="display: none; width: 90%; margin-bottom: 10px;" id="newPollOption2" type="text" placeholder="Poll Voter's Option"/>
				</div>

				<div class="row pull-left">
					Hours Active: <input style="width: 31%; margin-bottom: 10px;" id="newPollDuration" type="number"/>
				</div>

				<div class="row">
					<button class="btn btn-default" data-action="cancel-new-poll">Cancel</button>
					<button id="btn" class="btn btn-success" data-action="create-new-poll">Create Poll</button>
				</div>
				{{else}}
				<br/>
				<div>
                    <p style="color: red">Must log in to create a new poll</p>
                </div>
                {{/if}}
            </div>
        {{/if}}
    {{/momentum}}
</div>
</template>