<template name="newPoll">
<div class="text-center">
    {{#if reactiveVarEquals 'creatingPoll' false}}
		<button class="btn btn-default" data-action="open-new-poll-input">Create New Poll</button>
    {{/if}}
    {{#momentum plugin='slide-height-fade'}}
        {{#if reactiveVarEquals 'creatingPoll' true}}
            <div class="new-poll-dialogue">
				<h4>Create New Poll</h4>
				<div class="row">
					<input id="newPollTitle" type="text" placeholder="Poll Title"/>
				</div>
				<div class="row">
					<textarea id="newPollDescription" placeholder="Description of what we're voting on"></textarea>
				</div>
				<div class="row">
					<button class="btn btn-default" data-action="cancel-new-poll">Cancel</button>
					<button class="btn btn-success" data-action="create-new-poll">Create Poll</button>
				</div>
            </div>
        {{/if}}
    {{/momentum}}
</div>
</template>